-provide(:title, "#{title.name}")
-provide(:meta_keywords, "#{meta_keywords}") 
-provide(:meta_description, "#{meta_description}")
- if @coupons.count > 0
  %nav.navbar.navbar-fixed-top.secondnavbar
    = render 'shared/coupon_tabs'
  .page-header
    %h1
      #{title.name}
      %small
        latest coupons
        - if @coupons.count > 20
          %i (scroll to see more)
  .row
    = render 'shared/coupon_tab_content'
    = will_paginate @coupons
- else
  %h1 #{title.name}
  %p
    Sorry there are no #{title.name} coupons today.  Checkback soon. #{ link_to "Home", root_path }