-coupons.each_with_index do |coupon, i|
  .l4.s4{ 'id' => "coupon_#{coupon.id}", 'data-type' => "#{coupon_type(coupon)}" }
    .thumbnail.coupon
      = store_link(controller_name, coupon)
      .caption
        %h4 #{coupon.title.split("- ").last}
        -if logged_in?
          = favorites(controller_name, coupon)
        .well.well-sm
          %p
            %b #{coupon.description}
          -if coupon.code
            %h5
              Coupon Code:
              %b
                #{coupon.code}
          %span.label.label-warning
            #{coupon.store_commission} 
            \% cash back
        = button_link(coupon)
        %h5
          = time_left_display(coupon)
        -if coupon.categories.size > 0
          %h5
            =render coupon.categories
        -if coupon.restriction
          %h6
            Restrictions:
            #{coupon.restriction}