-provide(:title, "Welcome to ZUUZLO Coupons | #{@category.name}")
.container
  .page-header
    %h1 #{@category.name}
  .row
    .l12.s12
      .panel.panel-default
        .panel-heading
          .panel-title
            Latest coupons in category:
            %i 
              #{@category.name}
          = render 'shared/coupon_tabs'
        = render 'shared/coupon_tab_content'    